ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", MODE="0664", RUN+="/usr/bin/nmcli nm wifi off"
ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", MODE="0664", RUN+="/usr/bin/nmcli nm wifi on"
